﻿@model ShoppingCartMVC.Models.Order

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

@using (Html.BeginForm("Add", "Cart", FormMethod.Post))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    </div>

    <div>
        @Html.LabelFor(model => model.ProductID)
        <div>
            @Html.DropDownListFor(
                model => model.ProductID,
                selectList: (SelectList)ViewBag.Products,
                optionLabel: "Select Product"
            )
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>
    </div>

    <div class="product-info">
        <label class="product-name">[name]</label>
        <br/><span class="product-description">[desc]</span>
        <br /><img class="product-img" alt="img" />
    </div>

    <div>
        @Html.LabelFor(model => model.Quantity)
        <div>
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
    </div>

    <div style="margin-top: 2em;">
        <input type="submit" value="Order" />
        @Html.ActionLink("Back to Cart", "Index")
    </div>
}

@section scripts
{
    <style>
        .product-info {
            margin-top: 2em;
        }
    </style>
    <script>
        function GetProduct() {
            var productID = $('#ProductID').val();
            $('.product-name').html(productID);

            $.post(
                '@Url.Action("GetProduct", "Cart")',
                { id: productID },
                function (data) {
                    $('.product-name').html(data.Name);
                    $('.product-description').html(data.LongDescription);
                    //$('.product-img').attr('src', '' + image.ImageFile);
                    $('.product-img').attr(
                        'src',
                        '@Url.Content("~/Content/Images/Products/")' + data.ImageFile
                    );
                }
            );
        }
        $(document).ready(GetProduct);
        $('#ProductID').change(GetProduct);
    </script>
}
