﻿@model ShoppingCartMVC.Models.ShoppingCart

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Shopping Cart</h2>

<div>
    @Html.LabelFor(model => model.Orders)
    <div>
        @Html.ListBox(
            "Orders",
            new SelectList(Model.Orders, "ProductID")
        )
    </div>
</div>
<div>
    @Html.LabelFor(model => model.TotalPrice)
    <div>
        @Html.EditorFor(
            model => model.TotalPrice,
            new
            {
                htmlAttributes = new { disabled = "disabled" }
            }
        )
    </div>
</div>

<div style="margin-top: 2em;">
    @Html.ActionLink("Order", "Add")
</div>
